@font-face {
  font-family: "Gadugi";
  src:
    url("fonts/Gadugi-Bold.woff2") format("woff2"),
    url("fonts/Gadugi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gadugi";
  src:
    url("fonts/Gadugi.woff2") format("woff2"),
    url("fonts/Gadugi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
    background-color: rgb(255, 0, 0);

    display: flex;
    width: 100dvw;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

.headband{
    background-color: black;
    display: flex;
    flex-direction: row;
    
    position: sticky;

    align-items: center;
    justify-content: center;

    z-index: 999;
    
    top: 0;
    height: 5vh;
    width: 100dvw;

    margin: 0;
}

.hello{
    position: relative;
    color: white;
    font-family: gadugi;
    font-size: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.back_menu{
    position: relative;
    color: white;
    font-family: gadugi;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.back_menu2{
    position: relative;
    color: white;
    font-family: gadugi;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 1vh;
}

.back_menu3{
    position: relative;
    color: white;
    font-family: gadugi;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 1vh;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    width: 100dvw;
}

.lights{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.light{
    font-size: 3vh;
    font-family: gadugi;
    padding-top: 7vh;
    padding-bottom: 5vh;
    
}

.titre{
    color: #0600ff;
    margin: 0;
    line-height: 0.69;
    
}

.titre__1{
    display: flex;
    font-size: 25.5vh;
    padding-right: 23.5vh;
    font-family: gadugi;
    font-weight: bold;
}

.titre__2{
    display: flex;
    font-size: 26.5vh;
    padding-left: 22vh;
    font-family: gadugi;
    font-weight: bold;
}

.menu{
    background-color: #0000ff;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100dvw; 

}

.menu_list{
    color: black;
    text-decoration: none;
    margin-right: 5vh;
    font-size: 15vh;
    margin-bottom: 5vh;
    font-family: gadugi;
    font-weight: bold;
}

.menu_list:hover{
    -webkit-text-stroke-width: 0.5dvw;
    -webkit-text-fill-color: transparent;
}

.graphic{
    display: flex;
    flex-direction: row;
    
    justify-content: space-between;

    width: 100dvw;

    margin: 0;
}

.code {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  
  width: 100dvw;

  margin: 0;
}

.bleu{
    background-color: blue;
    width: 5dvw;
    height: 10vh;
}

.bleu2{
    background-color: blue;
    width: 5dvw;
    height: 10vh;
}

.middle{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2vh;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10vh;
    font-family: gadugi;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-family: gadugi;
    text-transform: uppercase;
}

.info2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    width: 25dvw;
    font-family: gadugi;
}

.info3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    width: 40dvw;
    font-family: gadugi;
}

#imgid{
    position: relative;
}

.img{
    display: flex;
    align-self: center;
    object-fit: cover;
    width: 70dvw;
    height: 50vh;
}

.img_code{
    display: flex;
    object-fit: cover;
    width: 40dvw;
    height: 40vh;
}
.img2{
    display: flex;
    object-fit: cover;
    width: 40dvw;
    height: 40vh;
}

.img3{
    padding: 2vh;
    align-self: center;
    object-fit: cover;
    width: 30dvw;
    height: 70vh;
}

.divrow{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3dvw;
}

.divrow2{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 3dvw;
}

.divrow_code{
    display: flex;
    justify-content: center;
    gap: 3dvw;
    margin-bottom: 2vh;
}

.divinfo_code{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.divanimation_code{
    height: 9vh;
    width: 6dvw;
    background-color: #0000ff;
}

.divinfo_graphic{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 2vh;
    font-family: gadugi;
    text-transform: uppercase;
}

.end_blue{
    background-color: blue;
    display: flex;
    justify-content: end;
    align-items:end;

    width: 100%;
    height: 10vh;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100dvw;
}

.contact2{
    display: flex;
    flex-direction: column;
}

.contact_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}

.contact_text{
    font-size: 15vh;
    font-family: gadugi;
    font-weight: bold;
}

.contact_text2{
    -webkit-text-stroke-width: 0.1dvw;
    -webkit-text-fill-color: transparent;
    margin-top: 11vh;
    font-size: 5vh;
    font-family: gadugi;
    font-weight: bold;
}

.contact_row{
    display: flex;
    flex-direction: row;
}

.gif{
    padding-left: 10vh;
    width: 40%;
}

.contact_info{
    display: flex;
    justify-content: end;
    font-size: 3vh;
    margin-right: 5vh;
    margin-bottom: 10vh;
    width: 50dvw;
    font-family: gadugi;
}

.allbtn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    padding-right: 2dvw;
}

.a{
    display: flex;
    justify-content: end;
    margin-bottom: 2vh;
    margin-right: 5vh;
    text-decoration: none;
}

.btn{
    background-color: black;
    color:white;
    border: solid;
    height: auto;
    min-width: 8dvw;
    border-width: 0.2dvw;
    border-color: white;
    border-radius: 999px;
    font-family: gadugi;
    font-weight: bold;
    font-size: 3vh;
}

.btn_end{
    background-color: black;
    color: white;
    border: solid;
    height: auto;
    min-width: 13dvw;
    border-width: 0.2dvw;
    border-color: white;
    border-radius: 999px;
    font-family: gadugi;
    font-size: 3vh;
}

.btn_end:hover{
    background-color: rgb(255, 255, 255);
    border-color:black;
    color: black;
}

.btn:hover{
    background-color: blue;
    border-color:black;
    color: black;
}


@media screen and (min-width:768px) {
    body{
        background-color: rgb(255, 255, 255);
    }
}