@font-face {
  font-family: "Gadugi";
  src:
    url("fonts/Gadugi-Bold.woff2") format("woff2"),
    url("fonts/Gadugi-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gadugi";
  src:
    url("fonts/Gadugi.woff2") format("woff2"),
    url("fonts/Gadugi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
    background-color: rgb(255, 0, 0);

    display: flex;
    width: 100vw;
    flex-direction: column;
    margin: 0;
    overflow-x: hidden;
}

.headband{
    background-color: black;
    display: flex;
    flex-direction: row;
    
    position: sticky;

    align-items: center;
    justify-content: center;

    z-index: 999;
    
    top: 0;
    height: 5vh;
    width: 100vw;
}

.hello{
    position: relative;
    color: white;
    font-family: gadugi;
    font-size: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.back_menu{
    position: relative;
    color: white;
    font-family: gadugi;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

.back_menu2{
    position: relative;
    color: white;
    font-family: gadugi;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 1vh;
}

.back_menu3{
    position: relative;
    color: white;
    font-family: gadugi;
    text-decoration: none;
    font-size: 2vh;
    padding-right: 1vh;
}

.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    width: 100vw;
}

.lights{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.light{
    font-size: 3vh;
    font-family: gadugi;
    padding-top: 7vh;
    padding-bottom: 5vh;
    
}

.titre{
    color: #0600ff;
    margin: 0;
    line-height: 0.69;
    
}

.titre__1{
    display: flex;
    font-size: 25.5vh;
    padding-right: 23.5vh;
    font-family: gadugi;
    font-weight: bold;
}

.titre__2{
    display: flex;
    font-size: 26.5vh;
    padding-left: 22vh;
    font-family: gadugi;
    font-weight: bold;
}

.menu{
    background-color: #0000ff;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;

    height: 100vh;
    width: 100vw; 

}

.menu_list{
    color: black;
    text-decoration: none;
    margin-right: 5vh;
    font-size: 15vh;
    margin-bottom: 5vh;
    font-family: gadugi;
    font-weight: bold;
}

.menu_list:hover{
    -webkit-text-stroke-width: 0.5vh;
    -webkit-text-fill-color: transparent;
}

.graphic{
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    width: 100vw;
}

.code {
  display: flex;
  flex-direction: row;

  justify-content: center;

  min-height: 810px;
  width: 100vw;
}

.bleu{
    position: relative;
    background-color: blue;
    width: 4vw;
}

.middle{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2vh;
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10vh;
    font-family: gadugi;
    font-weight: bold;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2vh;
    font-family: gadugi;
}

.img{
    display: flex;
    align-self: center;
    width: 50%;
    
}

.divrow{
    display: flex;
    justify-content: center;
    gap: 3vw;
}

.divrow_code{
    display: flex;
    justify-content: center;
    gap: 3vw;
    margin-bottom: 2vh;
}

.divinfo_code{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.img2{
    display: flex;
    width: 30%;
}

.img3{
    padding: 2vh;
    align-self: center;
    width: 30%;
}


.bleu2{
    position: relative;
    background-color: blue;
    width: 4vw;
}

.end_blue{
    background-color: blue;
    display: flex;
    justify-content: end;
    align-items:end;

    height: 10vh;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 100vw;
}

.contact2{
    display: flex;
    flex-direction: column;
}

.contact_title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
}

.contact_text{
    font-size: 15vh;
    font-family: gadugi;
    font-weight: bold;
}

.contact_text2{
    -webkit-text-stroke-width: 0.2vh;
    -webkit-text-fill-color: transparent;
    margin-top: 11vh;
    font-size: 5vh;
    font-family: gadugi;
    font-weight: bold;
}

.contact_row{
    display: flex;
    flex-direction: row;
}

.gif{
    padding-left: 10vh;
    width: 40%;
}

.contact_info{
    display: flex;
    justify-content: end;
    font-size: 3vh;
    margin-right: 5vh;
    margin-bottom: 10vh;
    font-family: gadugi;
}

.allbtn{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.a{
    display: flex;
    justify-content: end;
    margin-bottom: 2vh;
    margin-right: 5vh;
    text-decoration: none;
}

.contact_btn{
    background-color: black;
    color: white;
    border: solid;
    width: 10vw;
    border-width: 0.5vh;
    border-color: white;
    border-radius: 999px;
    font-family: gadugi;
    font-size: 3vh;
}

.btn{
    background-color: black;
    color: white;
    border: solid;
    width: 10vw;
    border-width: 0.5vh;
    border-color: white;
    border-radius: 999px;
    font-family: gadugi;
    font-size: 3vh;
}

.btn:hover{
    background-color: rgb(255, 255, 255);
    border-color:black;
    color: black;
}

.contact_btn:hover{
    background-color: blue;
    border-color:black;
    color: black;
}


@media screen and (min-width:768px) {
    body{
        background-color: rgb(255, 255, 255);
    }
}